#Sample .env
#Put your actual local environmental variables here

#database
DB_HOST='datbase_host'
DB_USER='database_user'
DB_PASSWORD='database_password'
DB_NAME='database_name'
DB_PORT='database_port'

#server host
SERVER_HOST='localhost'
SERVER_PORT='3000'

#JSON web token
JWT_SECRET='abcd'